<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="..static/css/cv.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Citas Medicas</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

</head>

<br>
<body>
    <header id="principal">
        <h2 id="titulo">Citas medicas</h2>
    </header>

    <br>
    <a href="/principal">CITAS</a>
    <a href="/calendario">CALENDARIO</a>
    <br>

    <section>
        <form   action="/add" method="post">
            Asunto:
            <input type="text" name="asunto" autofocus="autofocus" required="required"/>
            <br> <br>
            Hora:
            <input type="time" name="hora" required="required"/>
            <br><br>
            Fecha:
            <input type="date" name="fecha" required="required"/>
            <br><br>
            Doctor:
            <select name="doc">
                <option
                    th:each="doc: ${doctores.nombre}"
                    th:text="${doc}">
                </option>
            </select>
            <br> <br>
            <input type="submit" value="Nuevo"/>

        </form>
    </section>
</body>

</html>